<form autocomplete="off" [formGroup]="formulario" >
    <div class="form-group">
    <label>Assuntos</label>
    <select name="codAs" formControlName="codAs" class="form-control" (change)="atualizaDescricao($event.target)" 
    [class.is-invalid]="formulario.value.codAs==0 && !evalido">
      <option value="0">-Selecione o Assunto-</option>
      <option *ngFor="let item of assuntos" value="{{item.codAs}}">{{item.descricao}}</option>
    </select>    
    </div>
    <div class="form-group">
    <a type="button" class="btn btn-sm btn-info text-white" [mat-dialog-close]><i class="fa fa-close"></i> Sair</a>
    </div>
</form>