<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <h3 class="mt-2">{{!modoEditar ? 'Cadastro' : 'Edição'}} de livro</h3>
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label>Titulo</label>
                <input id="titulo"  maxlength=40 formControlName="titulo" class="form-control" [ngClass]="aplicarCssErro('titulo')">
                <div class="invalid-feedback">
                    Campo Obrigatório
                  </div>
            </div>
            <div class="form-group">
                <label>Editora</label>
                <input id="editora" maxlength=40 formControlName="editora" class="form-control" [ngClass]="aplicarCssErro('editora')">
                <div class="invalid-feedback">
                    Campo Obrigatório
                  </div>
            </div>
            <div class="form-group">
                <label>Assuntos</label>
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <th>Descrição</th>
                        <th class="text-right"><a class="btn btn-sm btn-success text-white" (click)="AddOrEditLivroAssunto(null)"><i class="fa fa-plus"></i> Add Assunto</a></th>
                    </thead>
                    <tbody>
                        <tr *ngIf="serviceLivro.assuntos.length==0" [class.text-danger]="serviceLivro.assuntos.length==0">
                            <td class="font-italic text-center" colspan="2">
                              Inserir assunto(s) para {{formulario.value.titulo}}
                            </td>
                          </tr>
                        <tr *ngFor="let item of serviceLivro.assuntos;let i=index;">
                            <td>{{item.descricao}}</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger text-white ml-1" (click)="removerAssunto(i)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-5">
                <div class="form-group">
                    <label>Edição</label>
                    <input type="number" id="edicao" formControlName="edicao" class="form-control" [ngClass]="aplicarCssErro('edicao')">
                    <div class="invalid-feedback">
                        Campo Obrigatório
                      </div>
                </div>
                <div class="form-group">
                    <label>Ano Publicação</label>
                    <input id="anoPublicacao" maxlength=4 formControlName="anoPublicacao" class="form-control" [ngClass]="aplicarCssErro('anoPublicacao')">
                    <div class="invalid-feedback">
                        Campo Obrigatório e apenas Números
                      </div>
                </div>
                <div class="form-group">
                    <label>Autores</label>
                    <table class="table table-borderless">
                        <thead class="thead-light">
                            <th>Nomes</th>
                            <th class="text-right">
                            <a class="btn btn-sm btn-success text-white" (click)="AddOrEditLivroAutor(null)"><i class="fa fa-plus"></i> Add Autor</a>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngIf="serviceLivro.autores.length==0" [class.text-danger]="serviceLivro.autores.length==0">
                                <td class="font-italic text-center" colspan="2">
                                  Inserir autor(es) para {{formulario.value.titulo}}
                                </td>
                              </tr>
                            <tr *ngFor="let item of serviceLivro.autores;let i=index;">
                                <td>{{item.nome}}</td>
                                <td class="text-right">
                                    <a class="btn btn-sm btn-danger text-white ml-1" (click)="removerAutor(item)"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <button type="submit" 
                        [ngClass]="!modoEditar ? 'btn btn-dark' : 'btn btn-info'" >
                    <i [ngClass]="!modoEditar ? 'fa fa-database' : 'fa fa-edit'" ></i>{{!modoEditar ? ' Cadastrar' : ' Editar'}}</button>
                <a *ngIf="modoEditar" class="ml-1 btn btn-info text-white" (click)="cancelarEdicao()" ><i *ngIf="modoEditar" class="fa fa-ban"></i> Cancelar</a>
            </div>
        </div>
    </div>   
</form>
